:root {
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;

}

.container {
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 10px;

}

.grid-container {
  display: grid;
  column-gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-top: 20px;
}

.lista-novo {
  display: flex;
  justify-content: space-between;
  border: 1px solid #303030;
  border-radius: 8px;
  padding: 12px;
}

.bt-novo {
  margin: 10px;
  height: 46px;
  font-size: 14px;
}