.grid-item {
  display: flex;
  border: 2px solid #2b2b2b;
  border-radius: 8px;
  margin: 6px;
}

.foto {
  width: 170px;
  height: 240px;
  margin-right: 10px;
}

h3 {
  margin: 0;
}

.genero {
  font-weight: bold;
}

.anoLancamento {
  font-size: small;
}

.novidade {
  width: 37px;
}

button {
  padding: 8px;
  font-size: 12px;
  color: white;
  background-color: rgba(30, 204, 7, 0.877);
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.comentario {
  font-size: small;
  color: gray;
}

.confirmacao {
  color: rgb(147, 202, 247);
  width: 80%;
}

.votos {
  font-size: 14px;
  color: gray;
}

.botao_ver-emails {
  background-color: rgb(31, 31, 31);
  box-shadow: 0 0.3px 5px rgba(119, 119, 119, 0.979);
}

.lista_descricao {
  margin-top: 10px;
}

.lista_descricao p {
  margin: 13px 0;

}

.votacao_detalhes {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}